# ignore vs code file
<<<<<<<<< Temporary merge branch 1
*.env
=========
.vscode/
**/node_modules/

*.env
.vscode/
2-back-end-javaspring/src/main/resources/application.properties/
**/node_modules
**/config/serviceAccountKey.json
2-back-end-javaspring/src/main/resources/firebase-service-account.json
2-back-end-javaspring/src/main/resources/serviceAccountKey.json
**/target/