.ContainerModal {
  padding: 0.5rem;
  width: 600px;
  height: 500px;
}

.ChangeAvtCon {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.PreviewImage11 {
  width: 100%;

  object-fit: cover;
  border: 2px solid #ddd;
}

.btn {
  bottom: 10px;
}
