.PostModalCon {
  padding: 0;
  max-width: 1100px;
  width: 90vw;
  border-radius: 12px;
  overflow: hidden;
}

.PostWrapper {
  display: flex;
  height: 80vh;
}

.PostImage {
  flex: 2;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.PostInfo {
  flex: 1.2;
  display: flex;
  flex-direction: column;
}

.PostHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px;
  border-bottom: 1px solid var(--border);
}

.avatarHeader {
  display: flex;
  gap: 10px;
  align-items: center;
}

.status {
  display: flex;
  position: relative;
  max-width: 400px;
  max-height: 150px;
  overflow-y: auto;
  white-space: normal;
  word-wrap: break-word;
}

/* Responsive */
@media screen and (max-width: 798px) {
  .status {
    max-width: 230px;
  }
  .CommentItem {
    max-width: 230px;
  }
}

.Avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.UserName {
  font-weight: 600;
}

.PostComments {
  flex: 1;
  padding: 10px 14px;
  overflow-y: auto;
  max-width: 400px;
}

.CommentItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
}

.Author {
  font-weight: 400;
  font-size: 14px;
  overflow-y: auto; /* auto đẹp hơn scroll */
  white-space: normal; /* cho xuống dòng */
  word-wrap: break-word; /* bắt buộc xuống dòng nếu từ quá dài */
  max-height: 200px; /* giới hạn để bật scroll */
}

.CommentGuest {
  font-weight: 400;
  font-size: 12px;
  overflow-y: auto;
  white-space: normal;
  word-wrap: break-word;
}

.PostActions {
  padding: 10px 14px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.PostInput {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border-top: 1px solid var(--border);
}

.PostInput input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.PostInput button {
  border: none;
  background: transparent;
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
}

.P {
  left: 2;
}

.N {
  right: 2;
}

.LoadMoreBtn {
  color: var(--muted-foreground);
  font-size: 11px;
}

.CommentActions {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 13px;
}

.LikeBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  color: #8e8e8e;
}

.LikeBtn:hover {
  color: #262626;
}

.LikeBtn.liked {
  color: red;
}

.MoreBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: #8e8e8e;
}

.MoreBtn:hover {
  color: #262626;
}
