.profileHeader {
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--color-foreground);
  background-color: var(--color-background);
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

.profileAvatar {
  position: relative;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(45deg,
      var(--chart-4),
      var(--chart-1),
      var(--chart-5));
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarImg {
  border-radius: 50%;
  border: 3px solid var(--background);
}

.profileInfo {
  flex: 1;
}

.profileTop {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.username {
  font-size: 20px;
  font-weight: 600;
}

.verified {
  color: #0095f6;
  font-size: 18px;
}

.btn {
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  color: var(--color-foreground);
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  margin-right: 5px;
}

.followBtn {
  background-color: #0095f6;
  color: white;
  border: none;
}

.messageBtn {
  background-color: transparent;
}

.moreBtn {
  background: none;
  font-size: 20px;
  border: none;
  color: var(--color-foreground);
}

.profileStats {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

.profileBio strong {
  display: block;
  margin-bottom: 4px;
}

.website {
  color: #0095f6;
  text-decoration: none;
  font-size: 14px;
}

.website:hover {
  text-decoration: underline;
}