.ContainerModal {
  padding: 0.5rem;
  width: 360px;
  height: 400px;
}

.ChangeAvtCon {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.PreviewImage {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.btn {
  bottom: 10px;
}
