.onlineAvtWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 565px;
}

.container {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  margin-left: 15px;
  flex-wrap: nowrap;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
}

.avatarWrapper {
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(
    45deg,
    var(--chart-4),
    var(--chart-1),
    var(--chart-5)
  );
}

.avatar {
  border-radius: 50%;
  border: 2px solid var(--color-background);
  width: 65px;
  height: 65px;
  object-fit: cover;
  object-position: center;
}

.username {
  font-size: 12px;
  margin-top: 5px;
  color: var(--foreground);
}

/* Nút điều hướng */
.scrollBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 9999px !important;
  padding: 8px !important;
  background-color: var(--muted) !important;
  color: var(--foreground) !important;
  z-index: 10;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollBtn:hover {
  background-color: var(--accent) !important;
  transform: translateY(-50%) scale(1.1);
}

.scrollBtn.left {
  left: 0.1rem;
}

.scrollBtn.right {
  right: 0.1rem;
}
