@import "./layout.scss";
.page {
  display: flex;
  justify-content: center; /* Căn giữa nội dung */
  align-items: center;
  min-height: 100vh; /* Toàn màn hình */
}

.main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
}

.leftContainer {
  flex: 2;
  @include medium {
    flex: 0.5;
  }
  @include exsmall {
    display: none;
  }
}

.mainContainer {
  flex: 4;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightContainer {
  flex: 2;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  @include small {
    display: none;
  }
}

.onlineCon {
  flex: 1;
  padding-left: 10px;
  padding-top: 40px;
  width: 80%;
  flex-direction: column;
}

.buttonCon {
  flex: 1;
  padding-left: 450px;
  padding-top: 20px;
  width: 80%;
}
.postCon {
  width: 80%;
  flex: 10;
}
